@import "~bootstrap/scss/bootstrap";

@import "/variables";
@import "/mixins";
@import "/fonts";
@import "/paralax";

body {
    line-height: 2;
    color: red;
    background-color: yellow;
}

.slide {
    padding: 50px;
    border: 1px solid black;
}